@font-face {
    font-family: 'SamanbankRegular';
    src: url('../assets/fonts/SAMANBANK-BOLD.ttf')  format('truetype');
  }
  
.tg th, td{
    font-family: 'SamanbankRegular' !important;
  }

.geojson_top {
    z-index: 550;
  }
  
.geojson_bottom {
    z-index: 420;
  }

.tg  {border-collapse:collapse;border-spacing:20px;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-size:14px;
  overflow:hidden;padding:0px 10px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-size:14px;
  font-weight:normal;overflow:hidden;padding:0px 10px;word-break:normal;}
.tg .tg-yj5y{background-color:#efefef;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-34fe{background-color:#c0c0c0;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-4f0n{background-color:#000000;border-color:inherit;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-2yfi{background-color:#c0c0c0;border-color:inherit;color:#000000;text-align:center;vertical-align:top}
.tg .tg-tdcm{background-color:#efefef;border-color:inherit;color:#000000;text-align:center;vertical-align:top}